* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
    background-color: #e6ecf0;
    width: 100%;
    margin: auto;
    line-height: 1.5;
    height: 750px;
    overflow-x: auto;
    
}
.main {
    background-color: #e6ecf0;
    flex: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  
}
.belowheader {
  display: flex;
  margin: auto -1rem 1rem;
}
.leftBar {
    background-color: #e6ecf0;
    flex: 1;
    height: 100%;
    padding-left: 3rem;
    margin-left: 10px;

}
.header {
    margin-top: auto;
    text-align: center;
    background-color: #00a0d1;
    color: black;
    width: 100%;
    text-decoration-line: underline;
    height: 70px;
}
.col {
  padding: .5rem;
}




@media only screen and (min-width: 768px){
    .hide-desktop {
        display: none !important;
    }
}